body, canvas {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

label {
    display: inline-block !important;
    margin-bottom: 10px !important;
    vertical-align: middle !important;
}

#login {
    width:600px;
    height:200px;
    position:absolute;
    left:50%;
    top:50%;
    margin:-100px 0 0 -300px;
}

#error_holder {
    position: absolute;
    width: 100%;
}

#error_container {
    position: relative;
    width: 80%;
    margin: 0 auto;
}

div#columns {
    clear: none;
    overflow: hidden;

}

div#leftcol {
    float: left;
    width: 694px;

}

div#rightcol {
    float: left;
    width: 200px;

}

div#rightmenu {
    margin: auto;
    overflow: auto;
    width: 210px;
    height: 390px
}

div#rightmenuprogress {
    margin: 0px auto;
    width: 182px;
    text-align: center;
}

#joinform {
    margin: 0 auto;
    position: relative;
    width: 635px;
}

div#chat {
    clear: both;
    width: 684px;
    height: 20ex;
    overflow: auto;
    background-color: #f0f0f0;
    padding: 4px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid black;
}

div.hidden {
    display: none;
}

span.from {
    font-weight: bold;
}

span.alert {
    font-style: italic;
}
