div {
    border: 0px solid black;
}

div#columns {
    clear: none;
    overflow: hidden;

}

div#leftcol {
    float:left;
    width:635px;

}

div#rightcol {
    float:left;
    width:200px;

}

div#chat {
    clear: both;
    width: 620px;
    height: 20ex;
    overflow: auto;
    background-color: #f0f0f0;
    padding: 4px;
    margin-top: 5px;
    border: 1px solid black;
}

div#input {
    clear: both;
    width: 620px;
    padding: 4px;
    background-color: #e0e0e0;
    border: 1px solid black;
    border-top: 0px
}

input#phrase {
    width: 30em;
    background-color: #e0f0f0;
}

input#username {
    width: 14em;
    background-color: #e0f0f0;
}

input#playerId {
    width: 14em;
    background-color: #e0f0f0;
}

div.hidden {
    display: none;
}

span.from {
    font-weight: bold;
}

span.alert {
    font-style: italic;
}